.linear-gradient {
    background: linear-gradient(blue, cyan,blue);
  }
.bg-case1
{
    background: #1A202C
}
.bg-button
{  
    background: #667EEA
}
.bg-case2
{
    background: #2E3748;
}
.bg-case3
{
    background: #EDF2F6
}